.listing-card {
  width: 100%;
  max-width: 300px; /* máximo tamaño */
  min-width: 240px; /* mínimo tamaño */
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.12);
  display: flex;
  flex-direction: column;
}

/* ----- CARRUSEL ----- */

.carousel-container {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(207, 53, 53, 0.7);
  border: none;
  padding: 4px 10px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
}

.carousel-btn.left {
  left: 8px;
}

.carousel-btn.right {
  right: 8px;
}

/* ----- INFO ----- */

.listing-info {
  padding: 12px;
}

.listing-title {
  font-size: 1.1rem;
  font-weight: bold;
  color:#333;
  margin-bottom: 6px;
}

.listing-city {
  color: #555;
  margin-bottom: 4px;
}

.listing-price {
  font-weight: bold;
  color: #333;
}
