# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
backend/venv/
backend/.env
backend/.env.local

# Node / React
node_modules/
frontend/node_modules/
frontend/dist/
frontend/build/
frontend/.env
frontend/.env.local
pnpm-lock.yaml
package.json

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp
*.swo

# IDEs
*.iml

# Misc
.env
*.env
.env.*.local

