.search-bar-autocomplete {
  display: flex;
  flex-direction: row;
  gap: 10px;
  min-height: 50px;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  background: #f9fafb;
  transition: box-shadow 0.2s;
  border: 1px solid #d1d5db;
}

.search-bar-autocomplete button {
  margin-right: 20px;
}

.search-bar-autocomplete:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-wrapper {
  position: relative;
  width: 90%;
  border-radius: 9999px;
  background: #f9fafb;
}

.input-wrapper input {
  height: 100%;
  width: 100%;
  padding: 0 10%;
  box-sizing: border-box;
}

.input-wrapper input:focus {
  outline: none;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
  z-index: 1000;
  font-size: small;
}

.suggestions-list li {
  padding: 8px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background: orange;
}

/* Contenedor del item */
.suggestion-item {
  display: flex;
  justify-content: space-between; /* Empuja el nombre a la izquierda y la clase a la derecha */
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;
  list-style: none;
}

.suggestion-item:hover {
  background-color: #f0f0f0; /* Efecto hover opcional */
}

/* Estilo para el nombre principal */
.suggestion-name {
  font-size: 1rem;
  color: #333;
}

/* Estilo para la clasificación (gris y chiquito) */
.suggestion-classification {
  font-size: 0.6rem; /* Tamaño más pequeño */
  color: #888;       /* Color gris */
  margin-left: 10px;  /* Espacio mínimo por si el nombre es muy largo */
  font-weight: 400;
}
