.general-layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #f8f8f8, #ffe5c1);
}

.main-layout {
    flex: 1;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.main-layout main{
    width: 100%;
    overflow-y: auto;
}